<% if @down_slide %>
  <%= link_to "/stories/#{@story.id}/block_down/#{@slide.id}", method: :post do %>
    <% if @slide.block_access_from_down %>
      <span class="btn btn-success fa fa-lock"></span>
    <% else %>
      <span class="btn btn-danger fa fa-unlock-alt"></span>
    <% end %>
  <% end %>
  <%= link_to edit_story_slide_path(@story, @down_slide) do %>
    <%= image_tag "arrow-down.png" %>
   <% end %>
<% else %>
  <%= render 'new_form', x: @slide.x_axis, y: (@slide.y_axis - 1) %>
<% end %>
