<% if @left_slide %>
  <%= link_to edit_story_slide_path(@story, @left_slide) do %>
    <%= image_tag "arrow-left.png" %>
  <% end %>
  <%= link_to "/stories/#{@story.id}/block_left/#{@slide.id}", method: :post do %>
    <% if @slide.block_access_from_left %>
      <span class="btn btn-success fa fa-lock"></span>
    <% else %>
      <span class="btn btn-danger fa fa-unlock-alt"></span>
    <% end %>
  <% end %>
<% else %>
  <%= render 'new_form', x: (@slide.x_axis - 1), y: @slide.y_axis %>
<% end %>
