<% if @right_slide %>
  <%= link_to "/stories/#{@story.id}/block_right/#{@slide.id}", method: :post do %>
    <% if @slide.block_access_from_right %>
      <span class="btn btn-success fa fa-lock"></span>
    <% else %>
      <span class="btn btn-danger fa fa-unlock-alt"></span>
    <% end %>
  <% end %>
  <%= link_to edit_story_slide_path(@story, @right_slide) do %>
    <%= image_tag "arrow-right.png" %>
  <% end %>
<% else %>
  <%= render 'new_form', x: (@slide.x_axis + 1), y: @slide.y_axis %>
<% end %>
