// Define variables for your color scheme

// For example:
$light-blue: #335582;
$yellow: #FDB631;
$orange: #FE6F66;
$green: #32B796;
$dark-blue: #1E131A;
$light-gray: #D7D7D7;
$white: #ffffff;
$red: #39151C;
$blue: #274667;

