// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$light-blue: #335582;
$yellow: #FDB631;
$orange: #FE6F66;
$green: #32B796;
$dark-blue: #1E131A;
$light-gray: #F4F4F4;
$white: #ffffff;
$burgundy: #39151C;
$blue: #274667;

