body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: calc(100vh);
  // padding-bottom: 60px;   /* Height of the footer */
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

h2 {
  color: white;
}

.slide-wrapper {
  height: 100vh;
  background-size: cover;
}
