.master-wrapper {
  margin-top: 80px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: calc(100vh);
  // padding-bottom: 60px;   /* Height of the footer */
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

h2 {
  color: white;
}

.create-header {
  font-family: "Shadows Into Light", cursive;
  text-transform: uppercase;
  font-size: 44px !important;
}

.slide-wrapper {
  height: 100vh;
  background-size: cover;
}

.index-title {
  color: white;
  font-family: 'Reem Kufi', sans-serif;
  letter-spacing: 4.5px;
  margin-bottom: 22px;
  padding-left: 40px;
}

.content-wrapper {
  padding-top: 10px;
}

p {
  color: white;
}
