.dashboard-story {
  padding-left: 0px;

  p {
    font-size: 15px;
    font-weight: bold;
  }

  h3 {
    color: white;
  }

  img {
  background-image: linear-gradient(90deg,rgba(0,0,0,1), rgba(0,0,0,0) 100%);
  }

}

.category {
  margin-bottom: 0px;
  color: red;
  font-weight: bold;
}

.dashboard-container {
  height: 100vh;
}
