#narration{
  max-height: 60vh;
  overflow-y: scroll;
}

.choices-container {
  margin-top: 15px;

  p {
    font-size: 16px;
    font-weight: lighter;
    border: 1px solid grey;
    border-radius: 5px;
    padding-right: 5px;
  }

  img {
    margin-right: 5px;
  }
}

