.slide-wrapper {
  width: 100%;
  background-color: black;
}

.slides-container {
  padding: 100px;
  p {
    font-size: 20px;
    font-weight: lighter;
  }
}

.slide_name {
  margin-bottom: 12px !important;
}

.media {
  margin-bottom: -22px !important;
}
