<div class="footer">

  <div class="footer-links"> Contact us
    <a href="https://www.instagram.com/neddstarr"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/robin.handous"><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/rafaelalonso42/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer__disclaimer">© 2017 Campfire inc</div>
</div>
