<%= form_tag(stories_path, method: :get) do %>
  <div id="searchbar">
      <div class="input-group stylish-input-group search">
          <input type="text" name="query" class="form-control search"  placeholder="Search" >
          <span class="input-group-addon search">
              <button type="submit" class="search">
                  <span class="glyphicon glyphicon-search"></span>
              </button>
          </span>
      </div>
  </div>
<% end %>
