<h1 class="text text-center">CAMPFIRE</h1>

<!-- We need to change the paths once they are created -->
<p> <%= link_to "Write a Story", new_user_registration_path %> </p>
<p> <%= link_to "Read a Story", new_user_registration_path %> </p>


<h2 class="text text-center">Interactive Horror Stories</h2>
