<%= link_to 'Back', :back %>

<div class="container">
  <h2 class="text-center">
    Update Story
    <%= link_to "Delete", story_path(@story), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure? You won\'t be able to restore it!'} %>
  </h2>
  <%= render 'form' %>
</div>
