<p><%= link_to "Create a story", new_story_path, class: 'btn btn-primary' %></p>
<div class= "master-container">
  <div class="card-container">
    <!-- <div class="row"> -->
      <% @stories.each do |story| %>
  <!--       <div class="col-xs-12 col-sm-4"> -->
          <div class="story-card">
            <div class="story-content">
              <div class="story-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path story.photo.path if story.photo? %>')">
                <div class="story-head">
                  <h2><%= story.title %></h2>
                  <%= link_to "see details", story_path(story), class: 'story-link' %>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      <% end %>
    <!-- </div> -->
  </div>
</div>

