.arrow-hidden{
  display: none;
}

.arrow{
  display: flex;
}

.up-arrow {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
}

.down-arrow {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
}

.left-arrow {
  position: absolute;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
}

.right-arrow {
  position: absolute;
  align-items: center;
  right: 0;
  top: 0;
  bottom: 0;
}
