.arrow-hidden{
  display: none;
}

.arrow{
  display: flex;
}

.up-arrow {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 5px;
}

.down-arrow {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 5px;
}

.left-arrow {
  position: absolute;
  align-items: center;
  left: 5px;
  top: 0;
  bottom: 0;
}

.right-arrow {
  position: absolute;
  align-items: center;
  right: 5px;
  top: 0;
  bottom: 0;
}

.small-arrow {
  width: 20px;
  -webkit-transition: width 2s;
  transition: width 0.5s;
}
