.attachinary {
  display: flex;
  border-radius: 5px;

  .control-label {
    padding-right: 10px;
    margin: 0px;
    color: #333333;
  }
  .attachinary-input {
    width: 93px;
    color: black;
    p {
      font-size: 0px;
    }
  }
}

.attachinary_container {
  display: flex;
  position: relative;
  right: 48px;
  margin-bottom: 0px;
  a {
    color: #fff;
    padding: 2.9px 10px;
    background-color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    bottom: 6px;
    left: -3px;
    border: 1px solid white;
    border-radius: 2px;
    display: flex;
    align-items: center;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 10px;
  }
  ul {
    list-style-type: none;
    margin-bottom: 0px;
  }
  li {
    display: flex;
  }
}
