.banner-drop {
  height: 275px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: relative;
}

.banner-title {
  padding-left: 10px;
}

.banner-category {
  padding-left: 10px;
}

.banner-description {
  padding-left: 10px;
}

.banner-img {
  width: 60%;
  height: 275px;
}

#side-banner {
  background-color: black;
  width: 40%;
}

