.banner-wrapper {
  padding-top: 10px;
}

.close-x {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 10px;
  right: 20px;
}

.banner-drop {
  height: 450px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  position: relative;
  align-content: center;

  .banner-title {
    // padding-left: 20px;
    margin-top: -20px;

    h2 {
      font-size: 50px;
      margin-bottom: 0px;
    }
  }

  .banner-author {
    font-size: 12px;
    font-weight: bold;
  }

  .banner-category {
    font-size: 15px;
    color: $red;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .banner-description {
    font-size: 15px;
    font-weight: bold;
  }

  .banner-read {
    // margin-left: 20px;
  }

  a {
    font-size: 12px;
    text-transform: uppercase;
  }

  .rating {
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
    p {
      margin-bottom: 0px;
      margin-right: 8px;
    }
  }

  .banner-img {
    width: 60%;
    height: 100%;
    background-size: cover !important;
    background: linear-gradient(to right, blue, pink);
    position: absolute;
    right: 0;
    z-index: -1;
  }

  .side-banner {
    background-color: black;
    width: 40%;
    height: 100%;
    margin-left: 40px;
  }

}



