.master-container {
  width: 100vw;
  overflow-x: scroll;
}
.card-container {
  margin: -19px 0 0 0;
  min-height: 100vh; min-width: 100vw;
  display: flex;
  width: 1500px;
  justify-content: space-between;
}
.row
{
    display: table-row;
}
.col-sm-4
{
    display: table-cell;
    padding:10px;
}

.story-card {
  width: 200px;
}
