.master-container {
  width: 100%;
  display: block;
  position: relative;
}

.card-container {
  margin: -19px 0 0 0;
  min-width: 100vw;
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  &::-webkit-scrollbar{display: none;}
}

.story-card {
  width: 300px;
  min-width: 300px;
  background-origin: center;
  background-size: cover !important;
  padding: 1vw;
  min-height: 220px;
  max-height: 400px;
  position: relative;
  margin-right: 5px;

}

.story-link {
  position: absolute;
  bottom: 10px;
  left: 125px;
}

.story-head {
  h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-shadow: 1px 1px black;
    margin-bottom: 0px;
  }
  p {
    font-size: 12px;
    font-weight: bold;
  }
}
