.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 5px 0 rgba(255,255,255,0.2),0 1px 30px 0 rgba(255,255,255,0.2);
  background: #350D16;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  padding-left: 18px;
  opacity: 1;
}
.footer-links a:hover {
  opacity: 0.4;
}
.footer .fa-heart {
  color: #D23333;
}
