.form-login {
  background: #BFBFBF;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(255,255,255,0.2);
  margin-bottom: 50px;
  h2 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

