.formbg {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("campfireformbg.jpeg") no-repeat center;
}
#login {
  opacity: 1;

  .form-control {
    background-color: #BFBFBF;
    border: 0px;
    border-bottom: 2px solid;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}

  .form-group {
    align-items: center;
    margin-bottom: 40px;
    label {
      margin-right: 10px;
      font-weight: none !important;
    }
  }

  .form-login {
    background: #BFBFBF;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 3px;
    // box-shadow: 1px 1px 2px rgba(255,255,255,0.2);
    // margin-bottom: 50px;
    h2 {
      font-size: 29px;
      // font-weight: bold;
      margin-bottom: 30px;
      text-align: center;
      margin-right: 10px;
      color: #333333;
    }
    // h2 {
    //   font-size: 24px;
    //   font-weight: bold;
    //   margin-bottom: 25px;
    //   text-align: center;
    // }
    .btn {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 15px;
      color: white;
      background-color: #39151C;
    }
  }

