  /* Main navbar */
.navbar-wagon {
  position: fixed !important;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  opacity: 0.9;
}


/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  padding-left: 10px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  border: 1px solid black;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
// .navbar-wagon-link {
//   color: #616668;
//   font-size: 14px;
// }
// .navbar-wagon-link:hover {
//   color: #da552f;
//   text-decoration: none;
// }

.navbar-slides h2 {
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 40vw;
    text-align: left;
    &::before {
    content: "NOW EDITING";
    font-size: 0.5em;
    position: absolute;
    top: 2em;
  }
}

.container.slides-container {
    height: 90vh;
    position: relative;
}

.navbar.navbar-wagon.navbar-slides-view {
    margin-bottom: 0;
    background-color: transparent;
}

.navbar-slides-view .control {
    justify-content: center;
}

.navbar-left{
  display: flex;
  align-items: center;
}
